<div id="full">
  <img id="image" src="./assets/swizzylogo.png">
  <h1 id="team_heading">We are Team Swizzy</h1>
</div>
<br>
<br>
<div id="team">
  <div id="div1">
    <h3>Nupur</h3>
    <img id="img" src="./assets/nupur.jpg">
  </div>
  <div id="div2">
    <h3>Shubhi</h3>
    <img id="img" src="./assets/shubhi.jpg">
  </div>
  <div id="div3">
    <h3>Sanjay</h3>
    <img id="img" src="./assets/sanjay.png">
  </div>
  <div id="div4">
    <h3>Hriday</h3>
    <img id="img" src="./assets/hriday.jpg">
  </div>
</div>
<br>
<div>
    <h1 id="about_heading">About Us</h1>
  <p id="para">"Swiggy is a food ordering and delivery company based out of Bangalore, India. Swiggy was inspired by the 
    thought of providing a complete food ordering and delivery solution from the best neighbourhood restaurants to 
    the urban foodie. A single window for ordering from a wide range of restaurants, we have our own exclusive fleet 
    of delivery personnel to pickup orders from restaurants and deliver it to customers . Having our own fleet gives 
    us the flexibility to offer customers a no minimum order policy on any restaurant and accept online payments for 
    all partner restaurants that we work with. Our delivery personnel carry one order at a time which ensures we get 
    reliable and fast deliveries."
  </p>
</div>
<br>
<div>
  <h1 id="tnc">Terms and Conditions</h1>
  <br>
  <ol>
    <li>
        These terms of use (the “ Terms of Use”) govern your use of our website www.swiggy.com (the “ Website”) and 
        our “Swiggy” application for mobile and handheld devices (the “ App”). The Website and the App are jointly 
        referred to as the “ Platform”. Please read these Terms of Use carefully before you use the services. If you do 
        not agree to these Terms of Use, you may not use the services on the Platform, and we request you to uninstall 
        the App. By installing, downloading or even merely using the Platform, you shall be contracting with Swiggy and 
        you signify your acceptance to the Terms of Use and other Swiggy policies (including but not limited to the 
        Cancellation & Refund Policy, Privacy Policy and Take Down Policy) as posted on the Platform from time to time, 
        which takes effect on the date on which you download, install or use the Services, and create a legally binding 
        arrangement to abide by the same.
    </li>
    <br>
    <li>
        The Platform is operated and owned by Bundl Technologies Private Limited, a company incorporated under the 
        Companies Act, 1956 and having its registered office at No. 17/9B, 4th Floor, Maruthi Chambers, Rupena Agrahara, 
        Hosur Road, Bangalore – 560 068. For the purpose of these Terms of Use, wherever the context so requires, ”you” 
        shall mean any natural or legal person who has agreed to become a buyer or customer on the Platform by providing 
        Registration Data while registering on the Platform as a registered user using any computer systems. The terms 
        “Swiggy”, “we”, “us” or “our” shall mean Bundl Technologies Private Limited.
    </li>
    <br>
    <li>
        Swiggy enables transactions between participant restaurants/merchants and buyers, dealing in prepared food 
        and beverages (“ Platform Services”). The buyers (“ Buyer/s”) can choose and place orders (“ Orders”) from 
        variety of products listed and offered for sale by various neighbourhood merchants including but not limited 
        to the restaurants and eateries (“ Merchant/s”), on the Platform and Swiggy enables delivery of such orders at 
        select localities of serviceable cities across India (“ Delivery Services”). The Platform Services and Delivery 
        Services are collectively referred to as “ Services”.
    </li>
  </ol>
</div>