<!-- top div -->
<div id="bodydiv">
  <div id="topDiv">
    <div class="page">
      <img class="img" src="index_img1.png">
    </div>
    <div class="header">
        <img id="logo" src="swizzylogo.png">
      <mat-list>
          <mat-list-item> <button id="login" mat-button routerLink="/login">Log In</button></mat-list-item>
          <mat-list-item> <button class="signup" mat-button routerLink="/sign-up">Sign Up</button> </mat-list-item>
      </mat-list>
    </div>
  </div>

  <!-- FOOTER -->
  <div id="footerdiv">
    <div id="footerdetails">

      <div class="details">
        <h3>COMPANY</h3>
        <ul>
          <li class="footerlist"><a href="/team">About Us</a></li>
          <li><a href="/team">Team</a></li>
        </ul>
      </div>

      <div class="details">
        <h3>CONTACT</h3>
        <ul>
          <li><a href="/team">Help & Support</a></li>
        </ul>
      </div>

      <div class="details">
        <h3>LEGAL</h3>
        <ul>
          <li>
            <a href="/team">Terms & Conditions</a>
          </li>
        </ul>
      </div>

    </div>
    <hr>
    <div id="copyright">
      <p>&copy; copyright</p>
    </div>
  </div>

</div>