<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="example-container">
  <form [formGroup]="signupForm" >
  <div>
    <img id="image" src="./assets/login_img.jpg">
    <h1 id="signUpTxt">Sign up </h1>
    <h4>or <a href="/login">login to your account</a></h4>
  </div>

  <div class="formFieldDiv">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="userName">
    </mat-form-field>
  </div>

  <div class="formFieldDiv">
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
  </div>

  <div class="formFieldDiv">
    <mat-form-field>
      <input matInput placeholder="Password" [type]="hide ? 'text' : 'password'" formControlName="password">
      <mat-icon id="icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
  </div>

  <!-- <div id="submitBtnDiv"> -->
  <button mat-button (click)="submitDetails()" routerLink="/login" >SUBMIT</button>
  <p>By creating an account, I accept the <a routerLink="#">Terms & Conditions</a></p>
  <!-- </div> -->
</form>
</div>