#restrodetails{
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
}
#details, #menu, #checkout{
    width: 30%;
    margin: 0 auto 0 auto;
}

#details{
    margin-left: 10px;
    margin-right: 20px;
}
#menu{
    border: 2px solid blue;
    border-radius: 10px;
}
#menutable{
    width: 100%;
}
td{
    font-size: 1em;
    padding: 30px 20px 20px 0px; 
}
#checkouttable{
    width: 100%;
}

#menuhead, #checkouthead{
    font-weight: bolder;
    width: 100%;
    display: flex;
    flex-direction: row;
}
span{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}
#checkouttable button{
    border: none;
    border-radius: 10%;
    background-color: none;
}
.qty{
    width: 31%;
}
#checkoutbtndiv{
    width: 100%;
}

#checkoutbtn{
    width: 100%;
    color: white;
    font-weight: bolder;
    background-color: blueviolet;
    border-radius: 5px;
    margin: auto auto 0 auto;
}
agm-map {
    height: 500px;
  }